#data
data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.venv

# Large data files (NE možeš ih uploadovati na GitHub)
*.csv
*.npy
*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db